<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/mdb.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<style type="text/css">
		@media (min-width: 800px) and (max-width: 850px) {
			.navbar:not(.top-nav-collapse) {
				background: #1C2331 !important;
			}
		}
	</style>
	<script type="text/javascript" src="/script/pathManager.js"></script>
</head>			<!-- Fino a qui era la parte per l'header, comune a tutte le pagine -->

<body onload="buttonBar()">

	<div class="view" style="background-image: url('/img/background.png'); background-repeat: no-repeat; background-size: cover;">

		<!-- La struttura di div e posizioni che crea la pagina -->

		<div class="mask rgba-black-light d-flex justify-content-center align-items-center">
			<div class="card">
				<img class="card-img-top" src="/img/logo.png" alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title text-center"><a>Benvenuto, cosa stai cercando ?</a></h4>
					<form enctype="application/json" class=" mb-4 " id="homeSearch" onsubmit="return searchBar()" method='get'>
						<div class="form-row align-items-center">
							<div class="col-10">
								<div class="md-form form-lg">
									<input name="questionValue" type="text" id="inputLGEx" class="form-control form-control-lg">
									<label for="inputLGEx">Scrivi qui l'argomento (es. Laurea, Tasse...)</label>
								</div>
							</div>
							<div class="col-2">
								<button type="submit" class="btn btn-primary mb-0">Invio</button>
							</div>
						</div>
					</form>
					<form id="buttons" onsubmit="return buttonBar()" method='get'>
						<h5 class="card-title text-center">Elementi più cercati:</h5>
						<div class="col-auto text-center">
							<button id="1" value="Laurea" type="submit" class="btn btn-primary mb-0 mr-2">Laurea</button>
							<button id="2" value="Tasse" type="submit" class="btn btn-primary mb-0 mr-2">Tasse</button>
							<button id="3" value="Erasmus" type="submit" class="btn btn-primary mb-0 mr-2">Erasmus</button>
							<button id="4" value="Tirocini" type="submit" class="btn btn-primary mb-0 mr-2">Tirocini</button>
						</div>
					</form>
					<div class="pull-left mt-4">
						<a href="/" onclick="alert('Ritorno alla pagina di login')" role="button" class="btn btn-danger" >Logout</a>
					</div>
					<div class="pull-right mt-4">
						<a href="/segreteria" role="button" class="btn btn-success btn-large waves-effect waves-light">Chiedi alla segreteria</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- JQuery -->
	<script type="text/javascript" src="/script/UI/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/script/UI/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/script/UI/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/script/UI/mdb.min.js"></script>
	<!-- Initializations -->
	<script type="text/javascript">
		// Animations initialization
		new WOW().init();
	</script>
</body>

</html>
