<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>pagina non trovata</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/mdb.min.css" rel="stylesheet">
  <link href="/css/style.min.css" rel="stylesheet">
  <style type="text/css">
    @media (min-width: 800px) and (max-width: 850px)
		{
            .navbar:not(.top-nav-collapse)
						{
                background: #1C2331!important;
            }
    }
  </style>
  <script type="text/javascript" src="/script/pathManager.js"></script>
</head>
<body>
	<div class="view" style="background-image: url('/img/background.png'); background-repeat: no-repeat; background-size: cover;">
  	<div class="mask rgba-black-light d-flex justify-content-center align-items-center">
      <div class="card">
        <img class="card-img-top" src="/img/logo.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center"><a>Non abbiamo trovato quello che cercavi</a></h4>
    			<form onsubmit="return searchBar()" method='get'>
			    	<div class="form-row align-items-center">
        			<div class="col-10">
          			<div class="md-form form-lg">
            			<input name="questionValue" type="text" id="inputLGEx" class="form-control form-control-lg">
            			<label for="inputLGEx">Prova a cercare ancora</label>
          	  	</div>
							</div>
        			<div class="col-auto">
            		<button type="submit" class="btn btn-primary mb-0">Invio</button>
        			</div>
						</div>
					</form>
        	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        	<a href="/segreteria" role="button" class="btn btn-success btn-large">Oppure contatta la segreteria</a>
				</div>
			</div>
		</div>
	</div>
	<!-- SCRIPTS -->
  <!-- JQuery -->
	<script type="text/javascript" src="/script/UI/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/script/UI/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/script/UI/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/script/UI/mdb.min.js"></script>
	<!-- Initializations -->
	<script type="text/javascript">
	// Animations initialization
	new WOW().init();
</script>
</body>
</html>
