<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>sessione scaduta</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/mdb.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<style type="text/css">
		@media (min-width: 800px) and (max-width: 850px) {
			.navbar:not(.top-nav-collapse) {
				background: #1C2331 !important;
			}
		}
	</style>
	<script type="text/javascript" src="/script/pathManager.js"></script>
</head>

<body>
	<div class="view" style="background-image: url('/img/background.png'); background-repeat: no-repeat; background-size: cover;">
		<div class="mask rgba-black-light d-flex justify-content-center align-items-center">
			<div class="card">
					<img class="card-img-top" src="/img/logo.png" alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title text-center"><a>Sessione scaduta</a></h4>
					<div class="card-body">
					 <h5 class="card-title text-center mb-2">Ci dispiace per il contrattempo, ma per questioni di sicurezza dobbiamo chiederti di ri-effettuare l'accesso</h5>
				</div>
				<div class="pull-left mt-4">
					<a href="/" role="button" class="btn btn-primary mb-0 mr-2">Ritorna alla pagina di login</a>
				</div>
			</div>
		</div>
	</div>
	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="/script/UI/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/script/UI/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/script/UI/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/script/UI/mdb.min.js"></script>
	<!-- Initializations -->
	<script type="text/javascript">
		// Animations initialization
		new WOW().init();
	</script>
</body>

</html>
