img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container {
	display: block;
}

div.container1 {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

div.bottoni{
    margin: auto;
    width: 20%;
    padding: 10px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

div.container {
	display: block;
}

div.container1 {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
div.container2{
    display: block;
    margin: auto;
    text-align: center;
}


#bottoni{
    padding: 1px;
    display:inline;
}

#Linknotfound{
    display: inline-block;
}