<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>erasmus</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/mdb.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/topicsandsecr.css" rel="stylesheet">
	<style type="text/css">
		@media (min-width: 800px) and (max-width: 850px) {
			.navbar:not(.top-nav-collapse) {
				background: #1C2331 !important;
			}
		}
	</style>
</head>

<body>
	<div class="view" style="background-image: url('/img/background.png'); background-repeat: no-repeat; background-size: cover;">
		<div class="mask rgba-black-light d-flex justify-content-center align-items-center">
			<div class="container">
				<div class="card">
					<a href="/home">
						<img class="card-img-top" src="/img/logo.png" alt="Card image cap">
					</a>
					<div class="card-body">
						<h2 class="card-title text-center mb-4">Topic: Erasmus</h2>
						<h3 class="card-title text-center mb-4">Domanda:</h3>
						<h4 class="card-titled text-center mb-4">Qual'è la differenza tra doppia laurea ed erasmus+ ?</h4>
						<h3 class="card-titled text-center mb-2">Risposta:</h3>
						<h4 class="card-titled text-center">
          <div>
            <ul class="list-group">
            	<li class="list-group-item"> La doppia laurea è un programma di studio (chiamato anche joint program), stabilito tra 2 o più università,che permette agli studenti di perseguire parte della loro carriera universitaria nell'Università degli studi di Trento e parte in una università convenzionata, permettendo quindi di ottenere l'attestato italiano e quello estero nello stesso periodo.</li>
            	<li class="list-group-item"> Erasmus+ è un programma rivolto a studenti o laureandi per lo svolgimento di un periodo di tirocinio presso un’impresa, ente o centro di formazione e di ricerca in uno dei Paesi che hanno aderito al Programma.</li>
            </ul>
          </div>
					</h4>
						<div>
							<h4 class="card-titled text-center">Video Guida:</h4>
							<video class="embed-responsive" controls="">
            	<source src="/video/video_placeholder.mp4" type="video/mp4">
            </video>
						</div>
						<div>
							<a href="/segreteria" class="btn btn-primary btn-large">Non hai trovato quello che cercavi ?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="/script/UI/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/script/UI/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/script/UI/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/script/UI/mdb.min.js"></script>
	<!-- Initializations -->
	<script type="text/javascript">
		// Animations initialization
		new WOW().init();
	</script>
</body>

</html>
