<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>tasse</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/mdb.min.css" rel="stylesheet">
	<link href="/css/style.min.css" rel="stylesheet">
	<link href="/css/topicsandsecr.css" rel="stylesheet">
	<style type="text/css">
		@media (min-width: 800px) and (max-width: 850px) {
			.navbar:not(.top-nav-collapse) {
				background: #1C2331 !important;
			}
		}
	</style>
</head>

<body>
	<div class="view" style="background-image: url('/img/background.png'); background-repeat: no-repeat; background-size: cover;">
		<div class="mask rgba-black-light d-flex justify-content-center align-items-center">
			<div class="container">
				<div class="card">
					<a href="/home">
					<img class="card-img-top" src="/img/logo.png" alt="Card image cap">
				</a>
					<div class="card-body">
						<h2 class="card-title text-center mb-4">Topic: Tasse</h2>
						<h3 class="card-title text-center mb-4">Domanda:</h3>
						<h4 class="card-titled text-center mb-4">Cos'è l'ISEE e come funziona ?</h4>
						<h3 class="card-titled text-center mb-2">Risposta:</h3>
						<h4 class="card-titled text-center mb-4">
          <div>
            <h4 class="card-titled text-center">L'Ateneo ha deciso di adottare un nuovo indicatore per stabilire l'importo delle tasse, la procedura da seguire è questa:</h4>
						<ol class="list-group">
							<li class="list-group-item"> Bisogna richiedere l'attestazione ISEE per le "prestazioni agevolate per il diritto allo studio universitario" (ISEE universitario), compilando la Dichiarazione Sostitutiva Univa (DSU) la DSU può essere compilata gratuitamente in qualsiasi CAF
								in Italia oppure con le modalità indicate sul sito dell'INPS a qeusta pagina: <a href="url">https://www.inps.it/NuovoportaleINPS/default.aspx?itemdir=50088&lang=IT</a> </li>
							<li class="list-group-item"> Il tempo medio per il rilascio dell'attestazione dell'ISEE università, dopo aver compilato la DSU, è di circa dieci giorni lavorativi, ma può richiedere fino a 15 giorni lavorativi.</li>
							<li class="list-group-item"> L'attestazione cartacea dell'ISEE università non deve essere consegnata all'università, i dati infatti vengono trasmessi a UniTrento dall'INPS.</li>
							<li class="list-group-item"> Il tuo valore ISEE università sarà disponibile nell'area riservata di ESSE3 assieme all'importo totale delle tasse e i bollettini MAV necessari per il pagamento.</li>
						</ol>
					</div>
					</h4>
					<div>
						<h4 class="card-titled text-center">Video Guida:</h4>
						<video class="embed-responsive" controls="">
            	<source src="/video/video_placeholder.mp4" type="video/mp4">
          	</video>
					</div>
					<div>
						<a href="/segreteria" class="btn btn-primary btn-large">Non hai trovato quello che cercavi ?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="/script/UI/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/script/UI/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/script/UI/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/script/UI/mdb.min.js"></script>
	<!-- Initializations -->
	<script type="text/javascript">
		// Animations initialization
		new WOW().init();
	</script>
</body>

</html>
