body
{
    background-color: #682340;
}
h1,h2,h3,p,li,a
{
    color:white;
}
video
{
    height: 240px;
    width: 360px;
}
a.linkNotFound
{
    position: absolute;
}
div.map
{
    width: 100%;
    height:400px;
    background:black;
    margin: auto;
}